* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.dark {
  background-color: black !important;
}
.bg-dark {
  background-color: black !important;
}
.bg-primary {
  background-color: rgb(24, 24, 91) !important;
}
